<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Transportes Futuristas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-section">
    <h1>Bienvenido al Futuro del Transporte</h1>
    <p>Explora nuestras innovadoras soluciones de movilidad.</p>
    <ion-button expand="full" color="primary" (click)="goToLoginPage()">Iniciar Sesión</ion-button>
  </div>

  <div class="features-section">
    <h2>Por qué Amamos Nuestra App</h2>
    <ion-item>
      <ion-label>¡Viajes Divertidos!</ion-label>
      <p>Descubre rutas emocionantes y comparte aventuras con amigos.</p>
    </ion-item>
    <ion-item>
      <ion-label>¡Conoce Nuevas Personas!</ion-label>
      <p>Amplía tu círculo social mientras compartes viajes con personas interesantes.</p>
    </ion-item>
    <!-- Agrega más características aquí -->
  </div>

  <div class="join-us-section">
    <h2>Únete a Nosotros</h2>
    <p>Regístrate y forma parte de nuestra comunidad futurista.</p>
    <ion-button expand="full" color="orange" (click)="goToRegistrationPage()">Registrarse</ion-button>
  </div>
</ion-content>